<div>
    <form name="loginForm" ng-submit="doLogin()">
        <div ng-show="loginFailed">{{loginFailedMessage}}</div>

        <label>User Name</label>
        <input type="text" name="userName" ng-model="userName" class="form-control" required>


        <label>Password</label>
        <input type="password" name="password" ng-model="password" class="form-control" required>


        <button type="submit" class="btn btn-primary btn-block">
            <i class="fa fa-sign-in"></i> Login
        </button>
        Not a user?<a ng-click="showRegistration()">Register Here</a>
    </form>
</div>